<div class="money-preview-container">
  <div class="balance aly-card">
    <h6>Số tiền hiện tại</h6>
    <h2>{{ currentBalance | number }}</h2>
    <div>
      <div class="money-preview-detail">
        <!-- <div>
         
        </div> -->
        <div class="chart-container">
          <aly-money-chart
            [chartData]="inOutcomeChartData"
            [color]="inOutcomeColor"
            [size]="200"
          ></aly-money-chart>
        </div>
      </div>
    </div>
  </div>
</div>
