/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "app/core/shared/scss/shared";
@import "./assets/icomoon-v1.0/style.css";

@font-face {
  font-family: dancing;
  src: url(assets/fonts/DancingScript-Medium.ttf) format("opentype");
}

@font-face {
  font-family: baloo;
  src: url(assets/fonts/Baloo2-Medium.ttf) format("opentype");
}

@font-face {
  font-family: ibm;
  src: url(assets/fonts/IBMPlexSerif-Regular.ttf) format("opentype");
}

@font-face {
  font-family: lobster;
  src: url(assets/fonts/Lobster-Regular.ttf) format("opentype");
}

@font-face {
  font-family: noticia;
  src: url(assets/fonts/NoticiaText-Regular.ttf) format("opentype");
}

@font-face {
  font-family: patrick;
  src: url(assets/fonts/PatrickHand-Regular.ttf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  font-size: 16px;

  .container {
    font-family: "noticia";
    overflow: scroll;
    height: 100vh;
    width: 100%;
    padding: 35px 10px;
    padding-top: 40px !important;
    background: var(--background-color);
  }

  .container::-webkit-scrollbar {
    display: none;
  }
  .highcharts-container {
    width: 300px !important;
  }

  input,
  textarea {
    color: var(--font-color) !important;
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-placeholder {
    color: var(--font-color) !important;
  }

  ::ng-deep .mat-focused .mat-form-field-placeholder {
    color: var(--font-color) !important;
  }
  // this is green theme
  // --main-color: rgba(255, 255, 255, 0.12);
  // --background-color: linear-gradient(
  //   to right top,
  //   #134a3d,
  //   #077658,
  //   #249683,
  //   #00bf72,
  //   #a8eb12
  // );
  --main-color: rgb(255 255 255 / 15%);
  --background-color: linear-gradient(
    to right top,
    #d647b2,
    #d684cc,
    #f1a9e6,
    #f7ceed,
    #f5d7f1
  );
  --user-color: #fb04af;
  --font-color: black;
  --border-radius: 15px;
  --ion-default-font: "noticia";
}
